.bar { 
    height: 18px;  /* Can be anything */
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0; margin: 8px;
    overflow: hidden;
}

.bar div {height: 100%;}

.bar.red div {background: #d43f3a;}
.bar.orange div {background: #eea236;}
.bar.yellow div {background: #f0f0a3;}
.bar.green div {background: #4cae4c;}
.bar.blue div {background: #357ebd;}
.bar.gray div {background: gray;}