.bar { 
	height: 20px;  /* Can be anything */
	position: relative;

	border-style: solid;
	border-width: 1px;
	border-color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	text-align: center;

	border-radius: 5px;
	padding: 0px;
	margin: 10px;
}

.bar > span {
	display: block;
	height: 100%;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 3px;

	background-color: black;

	text-align: center;
	overflow: hidden;
}

.bar .red {
	background-color: #d43f3a;
}

.bar .orange{
	background-color: #eea236;
}

.bar .yellow {
	background-color: #f0f0a3;
}

.bar .green {
	background-color: #4cae4c;
}

.bar .blue {
	background-color: #357ebd;
}

.bar .gray {
	background-color: gray;
}

.red > span {
	background-color: #d43f3a;
}

.orange > span {
	background-color: #eea236;
}

.yellow > span {
	background-color: #f0f0a3;
}

.green > span {
	background-color: #4cae4c;
}

.blue > span {
	background-color: #357ebd;
}

.gray > span {
	background-color: gray;
}